.vl1 {
  position: absolute;
  top: 500px;
  left: 33.8px;
  border-left: 4px solid #ffc400;
  height: 50px;
}

.vl2 {
  position: absolute;
  top: 586px;
  left: 33.8px;
  border-left: 4px solid #ffc400;
  height: 5px;
}

.vl3 {
  position: absolute;
  top: 625px;
  left: 33.8px;
  border-left: 4px solid #ffc400;
  height: 30px;
}

.vl4 {
  position: absolute;
  top: 688px;
  left: 33.8px;
  border-left: 4px solid #ffc400;
  height: 30px;
}

.vl5 {
  position: absolute;
  top: 750px;
  left: 33.8px;
  border-left: 4px solid #ffc400;
  height: 54px;
}

.vl6 {
  position: absolute;
  top: 838px;
  left: 33.8px;
  border-left: 4px solid #ffc400;
  height: 30px;
}

.vl7 {
  position: absolute;
  top: 900px;
  left: 33.8px;
  border-left: 4px solid #ffc400;
  height: 30px;
}

.vl8 {
  position: absolute;
  top: 226px;
  left: 50px;
  border-left: 4px solid #ffc400;
  height: 5px;
}

.vl9 {
  position: absolute;
  top: 261px;
  left: 50px;
  border-left: 4px solid #ffc400;
  height: 5px;
}

.vl10 {
  position: absolute;
  top: 295px;
  left: 50px;
  border-left: 4px solid #ffc400;
  height: 5px;
}
